<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container p-5">
        <div class="row">
            <div class="alert alert-danger" id="alert" style="display: none;">
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>Hospital</th>
                    <th>_Id</th>
                    <th>Con. Name</th>
                    <th>Con. Contact</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
                <%for(var i=0;i< ambulance.length;i++){%>
                    <%for(var j=0;j< ambulance[i].notification.length;j++){%>
                        <tr>
                            <td>
                                <%=ambulance[i].hospitalName%>
                            </td>
                            <td class="name">
                                <%=ambulance[i].notification[j]._id%>
                            </td>
                            <td class="company">
                                <%=ambulance[i].notification[j].consumerName%>
                            </td>
                            <td class="price">
                                <%=ambulance[i].notification[j].consumerContact%>
                            </td>
                            <td class="pin">
                               <%=ambulance[i].notification[j].consumerAddress?ambulance[i].notification[j].consumerAddress:'NULL'%>                          </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm"
                                    value="<%=ambulance[i].notification[j]._id%>">Delete</button>
                            </td>
                        </tr>
                    <%}%>
                <%}%>
            </table>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function (req, res) {
        $(document).on('click', '.btn-danger', function (req, res) {
            var id = $(this).val();
            console.log(id);
            var data = { id: id,hospitalId:"6235c8399dac947357a40ac6" }
            $.ajax({
                url: '/delete-ambulance',
                type: "POST",
                data: data,
                success: function (req, res) {
                    if (res.success) {
                        window.alert(res.message)
                        window.location.reload();
                    } else if (res.error) {
                        alert(res.error)
                        window.location.reload();
                    }
                }
            })
        })
    })
</script>
</html>